.resetForm {
    display: grid;   
    row-gap: 10px;
    box-shadow: 0px 5px 5px rgb(112, 112, 112);
    border-radius: 20px;
    width: 400px;
    margin: 160px auto 100px auto;
    padding: 0;
    background-color: white;
}

.resetForm > .header{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgb(0, 161, 0);
    text-align: center;
    padding: 40px 0px;
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

.resetForm input {
    width: 300px;
    margin: auto;
}

.resetForm > .password {
    margin: auto;
}

.resetForm > button {
    width: 340px;
    margin: auto;
    margin-top: 60px;
}

.resetForm > .lastPartName {
    margin-top: 100px;
    text-align: center;
    opacity: 0.4;
    font-size: 16px;
}

.resetForm > .lastPart {
    margin-bottom: 40px;
    text-align: center;
}

.resetForm > .lastPart a{
    color: green;
    font-weight: 700;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
}

.resetForm .nameInput {
    padding: 0;
    margin: 0;
    margin-left: 40px;
    font-size: 18px;
    color: black;
}

.resetForm > .error{
    color: rgb(197, 0, 0);
    text-align: center;
    opacity: 0;
    animation-duration: 2s;
    animation-name: errorAnimation;
    width: 300px;
    margin: auto;
    padding: 20px 0px;

}

.resetForm > .resultText{
    text-align: center; 
    margin: 50px 20px 100px 25px;
}

.resetForm .mainText {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 105px;
    color: green;
    text-transform: uppercase;
}

.resetForm .secondText {
    font-size: 18px;
}

.resetForm > .loadingText {
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.resetForm > .loader{
    margin: auto;
    margin-bottom: 40px;   
}
 
@keyframes errorAnimation {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
    }
}



@media only screen and (min-width: 340px) and (max-width: 410px){
    .resetForm {
        width: 300px;
    }
    
    .resetForm > .header{
        font-size: 28px;
    }
    
    .resetForm input {
        width: 200px;
    }

    .resetForm > button {
        width: 150px;
        margin: auto;
        margin-top: 40px;
    }
    .resetForm .nameInput {
        margin-left: 40px;
    }
    .resetForm .password svg{
        margin-left: 185px;
    }
    .resetForm > .error{
        width: 250px;
    }
}

@media only screen and (max-width: 340px){
    .resetForm {
        width: 200px;
    }
    
    .resetForm > .header{
        font-size: 20px;
    }
    
    .resetForm input {
        width: 150px;
    }

    .resetForm > button {
        width: 150px;
        margin: auto;
        margin-top: 40px;
    }
    .resetForm .nameInput {
        margin-left: 15px;
    }
    .resetForm .password svg{
        margin-left: 135px;
    }
    .resetForm > .error{
        width: 200px;
    }
}
  