.modal {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,8,0, 0.4);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
    z-index: 15;
}

.modal.active{
   opacity: 1;
   pointer-events: all;
}

.modal__content{
    padding: 0px;
    border-radius: 12px;
    background-color: white;
    width: 500px;
    
    max-height: 95vh;
    overflow-y: auto;
    transition: 0.4s all;
    transform: scale(0.5);
}


.modal__content.active{
    transform: scale(1);
}


@media only screen and (min-width:460px) and (max-width: 580px){
    .modal__content{
        width: 400px;
    }
    
}

@media only screen and (min-width:320px) and (max-width: 460px){
    .modal__content{
        width:  280px;
    }
}

@media only screen and (max-width: 320px){
    .modal__content{
        width:  150px;
    }
}

@media screen and(min-width: 750px) and (max-height: 900px) {
    .modal__content{
        max-height: 82vh;
    }
}


@media screen and (max-height:  750px) {
    .modal__content{
        max-height: 80vh;
    }
}