.footer{
    background-color: green;
    padding: 10px 20px 0px 100px;
    height: 100px;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
    color: white;
    font-size: 18px;
}

.footer .leftPart {
    display: flex;
}


.footer img {
    width: 90px;
    height: 90px;
    margin-right: 20px;
}

.footer ul {
    display: flex;
}

.footer li{
    list-style: none;
    margin-right: 20px;
}

.footer a{
    color: #ffffff;
    font-weight: 700;
    text-decoration: none;
}


.footer .rightPart{
    display: grid;
    align-content: space-between;
}

@media only screen and (min-width: 550px) and (max-width: 890px) {
    .footer{
        padding: 10px 20px 0px 20px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 550px) {
    .footer{
        padding: 10px 5px 0px 5px;
    }
    .footer img {
        width: 50px;
        height: 60px;
        margin-right: 5px;
    }
    .footer .rightPart p {
        display: none;
    }
    .footer .rightPart li:nth-child(2) {
        display: none;
    }
    .footer .righPart li:nth-child(1) {
        display: none;
    }
}


@media only screen and (min-width: 100px) and (max-width: 360px) {
    .footer{
        padding: 10px 5px 0px 5px;
    }
    .footer img {
        width: 90px;
        height: 90px;
        margin-right: 5px;
    }
    .footer .leftPart p{
        display: none;
    }
    .footer .rightPart p {
        display: none;
    }
    .footer .rightPart li:nth-child(2) {
        display: none;
    }
    .footer .rightPart li:nth-child(1) {
        display: none;
    }
    
}