.eventCreationPage {
    display: block;
    row-gap: 5px;
    margin: 160px auto 100px auto;
    box-shadow: 0px 5px 5px rgb(112, 112, 112);
    border-radius: 20px;
    width: 500px;
    padding: 0;
    background-color: white;
}

.eventCreationPage form{
    display: grid;
    row-gap: 5px;
}

.eventCreationPage > .header{
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    background-color: rgb(0, 161, 0);
    text-align: center;
    padding: 40px 0px;
    font-size: 32px;
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: white;
    margin-bottom: 30px;
}

.eventCreationPage form > label{
    margin-left: 120px;
    opacity: 0.6;
    font-size: 19px;
}

.eventCreationPage form > input{
    margin: 5px auto 25px auto;
    width: 260px;
}

.eventCreationPage form input[type="checkbox"]{
    margin-left: 30px;

}


.eventCreationPage form > .textarea-label {
    margin-left: 40px;
}

.eventCreationPage form textarea {
    padding: 10px 20px;
    border-radius: 5px;
    width: 80%;
    margin: 5px auto 0px auto;
    height: 200px;
    font-size: 18px;
    color: rgb(82, 82, 82);
    resize: none;
    border: 2px solid rgb(179, 179, 179);
    transition: 0.5s;
}

.eventCreationPage form textarea::placeholder {
    color: rgb(82, 82, 82);
    opacity: 0.3;
}

.eventCreationPage form textarea:focus {
    outline: 0;
    background-color: rgb(223, 223, 223);
    border-left: 3px solid green;
}

.eventCreationPage form .select-container {
    width: 300px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 20px;
}

.eventCreationPage form > .select-label {
    margin-left: 110px;
}

.eventCreationPage .container-ticket {
    display: flex;
    justify-content: space-around;
}

.eventCreationPage .container-ticket div label{
    display: block;
    margin-bottom: 5px;
    text-align: center;
    opacity: 0.5;
    font-size: 20px;
    
}
.eventCreationPage .container-ticket div input{
    width: 190px;
    height: 30px;
    font-size: 24px;
}


.eventCreationPage .place-title {
    margin: 50px auto 40px auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 30px;
}

.eventCreationPage .map-title {
    margin: auto;
    opacity: 0.6;
    font-size: 22px;
}


.eventCreationPage form > button {
    margin: 50px auto 30px auto;
}

.map-container {
    margin: auto;
    
}

.eventCreationPage .change-container {
    margin-bottom: 50px;
    display: grid;
    justify-content: center;
    
}
.eventCreationPage .change-container button{
    margin-left: auto;
    width: 320px;
}

.eventCreationPage .delete-button-container {
    display: grid;
    justify-content: flex-end;
    margin: 140px 20px 20px 0px;
}

.eventCreationPage .delete-button{
    width: 180px;
    height: 40px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 700;
    color: #ffffff;
    border: none;
    transition: 0.5s;
    cursor: pointer;
    background-color: rgb(201, 19, 19);
    display: block;
    right: 0px;
}

.eventCreationPage .delete-button:hover{
    background-color: rgb(88, 3, 3);
}

.eventCreationPage .delete-button:active{
    background-color: rgb(201, 19, 19);
    color: #ffffff;
    box-shadow: 0px 10px 15px rgb(112, 112, 112);
}


.eventCreationPage .error{
    color: rgb(197, 0, 0);
    text-align: center;
    opacity: 0;
    animation-duration: 2s;
    animation-name: errorAnimation;
    width: 300px;
    margin: auto;
    padding: 20px 0px;
}

@keyframes errorAnimation {
    from {
        opacity: 1;
    }
  
    to {
        opacity: 0;
    }
}

.eventCreationPage > .resultText{
    text-align: center; 
    margin: 50px 20px 100px 25px;
}

.eventCreationPage .mainText {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    font-size: 30px;
    margin-bottom: 25px;
    color: green;
    text-transform: uppercase;
}

.eventCreationPage .secondText {
    font-size: 18px;
}


.eventCreationPage > .loadingText {
    color: rgb(0, 0, 0);
    padding: 20px 20px;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

.eventCreationPage > .loader{
    display: grid;
    justify-content: center;
    margin-bottom: 40px;   

}
.eventCreationPage .promocode-link{
    text-align: center;
    margin-top: 80px;
}

.eventCreationPage .promocode-link a{
    color: #000;
    font-family: 'Comfortaa', cursive;
    font-size: 24px;
    transition: 0.3s;
}

.eventCreationPage .promocode-link a:hover{
    color: purple;
}

@media only screen and (max-width: 500px){
    .eventCreationPage {
        width: 300px;

    }
    
    .eventCreationPage > .header{
        font-size: 24px;
    }

    .eventCreationPage form > label{
        margin-left: 20px;
        font-size: 18px;
    }

    .eventCreationPage form > input{
        margin: 5px 0px 15px 10px;
        width: 260px;
    }

    .eventCreationPage form input[type="checkbox"]{
        margin-left: 10px;
    }

    .eventCreationPage form > .textarea-label {
        margin-left: 10px;
    }

    .eventCreationPage form textarea {
        width: 245px;
        margin: 5px 0px 0px 5px;
        height: 130px;
    }

    .eventCreationPage form .select-container {
        width: 280px;
        margin: 5px 0px 20px 10px;

    }

    .eventCreationPage form > .select-label {
        margin-left: 15px;
    }

    .eventCreationPage .container-ticket {
        display: block;
        margin-left: 20px;
    }
    
    .eventCreationPage .container-ticket div {
        margin-bottom: 15px;
    }

    .eventCreationPage .container-ticket div label{
        text-align: left;
        margin-left: 15px;
    }
    .eventCreationPage .container-ticket div input{
        width: 240px;
        height: 20px;
    }


    .eventCreationPage form > button {
        width: 220px;
    }
    
    .eventCreationPage .change-container button{
        margin-left: auto;
        width: 240px;
    }
    .eventCreationPage .promocode-link a{
        font-size: 18px;
    }
    
}

@media only screen  and (max-width: 320px){
    .eventCreationPage {
        width: 225px;
    }

    .eventCreationPage form > input{
        width: 180px;
    }


    .eventCreationPage form textarea {
        width: 160px;
    }

    .eventCreationPage form .select-container {
        width: 200px;
    }

    .eventCreationPage .container-ticket div input{
        width: 160px;
        height: 15px;
        font-size: 20px;
    }
    

    .eventCreationPage .place-title {
        margin: 20px auto 10px auto;
    }


    .eventCreationPage form > button {
        margin: 50px auto 30px auto;
        width: 210px;
    }

    .eventCreationPage .change-container button{
        width: 210px;
    }
    .eventCreationPage .promocode-link a{
        font-size: 16px;
    }
}