.spinner {
    color: white;
    position: relative;
    width: 120px;
    height: 120px;
    
}

.spinner:before, .spinner:after {
    content: "";
    display: block;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    border-radius: 50%;
    animation-name: rotate-animation;
    animation-name: anti-rotate-animation;
}

@keyframes rotate-animation {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
}

  @keyframes anti-rotate-animation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

.spinner:before {
    width: 80px;
    height: 80px;
    border-bottom-color: green;
    border-right-color: green;
    border-top-color: rgba(green, 0);
    border-left-color: rgba(green, 0);
    top: 10px;
    left: 10px;
    animation: rotate-animation 1s linear 0s infinite;
}
  
.spinner:after {
    width: 120px;
    height: 120px;
    border-bottom-color: green;
    border-right-color: green;
    border-top-color: rgba(green, 0);
    border-left-color: rgba(green, 0);
    top: -10px;
    left: -10px;
    animation: anti-rotate-animation 0.85s linear 0s infinite;
}